# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio cache and settings
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code settings
.vscode/

# Rider settings
.idea/

# User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.userstorage

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
